:root {
	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);
	--dark-grayish-magenta: hsl(303, 10%, 53%);
	--light-gray-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}

/* styling of general elements below*/

body {
	font-family: "Spartan", sans-serif;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px;
	min-height: 100vh;
	font-size: 15px;
	text-align: center;
}

h1 {
	color: var(--very-dark-magenta);
}

p {
	margin-bottom: 0;
}

/*styling of h1 and top blurb below*/

.top-blurb {
	color: var(--dark-grayish-magenta);
	font-weight: 500;
	line-height: 1.5rem;
	margin-bottom: 40px;
}

/*5 star cards styling below*/

.reviews,
.reports,
.best-tech {
	background-color: var(--light-gray-magenta);
	color: var(--very-dark-magenta);
	font-weight: 700;
	padding: 16px;
	margin-top: 15px;
	border-radius: 8px;
}

/* review cards styling below*/

.colton-review-card,
.irene-review-card,
.anne-review-card {
	background-color: var(--very-dark-magenta);
	color: var(--white);
	border-radius: 8px;
	padding: 30px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 13px;
}

.colton-review-card {
	margin-top: 50px;
}

.top-card-info {
	display: flex;
}

.name {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	position: relative;
	top: 5px;
}

.reviewer-name {
	font-weight: 700;
}

.profile-pic {
	border-radius: 50px;
	width: 40px;
}

.verified {
	color: var(--soft-pink);
	margin-top: 5px;
}

.review-blurb {
	line-height: 1.5rem;
}
/*footer styling*/
.attribution {
	font-size: 11px;
	text-align: center;
	color: var(--very-dark-magenta);
	font-weight: 700;
	margin-top: 30px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px) {
	/*desktop genreal element stylings*/

	body {
		margin: 0px 150px;
	}

	h1 {
		font-weight: 700;
		font-size: 50px;
		padding-right: 180px;
		margin: 0px;
	}

	h1,
	.top-blurb {
		text-align: left;
	}

	.desktop-top-portion,
	.review-cards {
		display: flex;
		flex-direction: row;
	}

	/*desktop top left portion*/

	.top-blurb {
		padding-right: 125px;
		margin-top: 5px;
		font-size: 15px;
		line-height: 1.5rem;
	}

	.left-info {
		display: flex;
		flex-direction: column;
		padding-left: 0px;
		width: 50%;
	}

	/*desktop top right portion*/

	.review-cards {
		width: 100%;
	}

	.five-star-words {
		margin: 0px 0px 0px 35px;
	}

	.star-pic {
		margin-right: 5px;
	}

	.reviews,
	.reports,
	.best-tech {
		display: flex;
		flex-direction: row;
	}

	/*desktop bottom review cards*/

	.review-blurb {
		font-size: 10px;
		line-height: 17px;
	}

	.name {
		font-size: 10px;
	}

	.reviewer-name {
		font-weight: 700;
	}

	.colton-review-card {
		margin-top: 0px;
		margin-right: 30px;
	}

	.irene-review-card {
		margin-right: 30px;
	}
}
