:root {
	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);
	--dark-grayish-magenta: hsl(303, 10%, 53%);
	--light-gray-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}

/* styling of general elements below*/

body {
	font-family: "Spartan", sans-serif;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px;
	min-height: 100vh;
	font-size: 15px;
    text-align: center;
}

h1 {
color: var(--very-dark-magenta);
}

/*styling of h1 and top blurb below*/

.top-blurb {
    color: var(--dark-grayish-magenta);
    font-weight: 500;
}

/*5 star cards styling below*/

.reviews, .reports, .best-tech {
    background-color: var(--light-gray-magenta);
    color: var(--very-dark-magenta);
    font-weight: 700;
}

/* review cards styling below*/

.colton-review-card, .irene-review-card, .anne-review-card {
    background-color: var(--very-dark-magenta);
    color: var(--white);
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.profile-pic {
    border-radius: 50px;
    width: 40px;
}

.verified {
    color: var(--soft-pink);
}
/*footer styling*/
.attribution {
	font-size: 11px;
	text-align: center;
    color: var(--very-dark-magenta);
    font-weight: 700;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
